/* global and public use  */
#home {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}

body {

    font-family: 'Montserrat', sans-serif;
}

:root {
    --backgroundcolor: #f5f5f5;
}

p {
    font-size: .9rem;
}

.underline-dotted {
    border-bottom: dotted #e5e5e5 1px;
    width: fit-content;

}



/* services  start  */
#services span,
#contact span {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#services .bg-white:hover span,
#contact span:hover {
    background-color: black !important;
    color: white !important;
}

/* works Portfolio.  start  */
#works .opacity-0 {
    border: solid .5rem var(--backgroundcolor);
    width: calc( 100% - 1.5rem );
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

#works .opacity-0:hover {
    opacity: 1 !important;

}

#works .nav-tabs {
    --bs-nav-tabs-border-width: 0px !important;
}


/* works Portfolio.  end  */
/* carousel-indicators for client (Testimonials) and blog transform  */

.carousel-indicators,
.carousel-caption {
    position: unset !important;
}

#client .carousel-indicators [data-bs-target],
#blog .carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* header animation */

h1::after {

    content: '|';
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    animation-delay: 1s;
}


@keyframes move {

    1% {
        content: 'M|';
    }

    2% {
        content: 'Me|';
    }

    3% {
        content: 'Mer|';
    }

    4% {
        content: 'Mern|';
    }

    5% {
        content: 'Mern |';
    }

    6% {
        content: 'Mern S|';
    }

    7% {
        content: 'Mern St|';
    }

    8% {
        content: 'Mern Sta';
    }

    9% {
        content: 'Mern Stac|';
    }

    10% {
        content: 'Mern Stack|';
    }

    11% {
        content: 'Mern Stack|';
    }

    12% {
        content: 'Mern Stac|';
    }

    13% {
        content: 'Mern Sta|';
    }

    14% {
        content: 'Mern S|';
    }

    15% {
        content: 'Mern|';
    }

    16% {
        content: 'Mer|';
    }

    17% {
        content: 'Me|';
    }

    18% {
        content: 'M|';

    }


    19% {
        content: '|';
    }

    20% {
        content: 'F|';
    }

    21% {
        content: 'Fr|';

    }

    22% {
        content: 'Free|';
    }

    23% {
        content: 'Freel';

    }

    24% {
        content: 'Freela|';
    }

    25% {
        content: 'Freelac|';
    }

    26% {
        content: 'Freelance|';
    }

    27% {
        content: 'Freelanc|';
    }

    28% {
        content: 'Freelan|';
    }

    29% {
        content: 'Freelan|';
    }

    30% {
        content: 'Freela|';
    }

    31% {
        content: 'Freel|';
    }

    32% {
        content: 'Free|';
    }

    33% {
        content: 'Fre|';
    }

    34% {
        content: 'Fr|';
    }

    35% {
        content: ' F|';

    }

    36% {
        content: '|';
    }

    37% {
        content: 'R|';

    }

    38% {
        content: 'Re|';
    }

    39% {
        content: 'Rea|';

    }

    40% {
        content: 'Reac|';
    }

    41% {
        content: 'React|';

    }

    42% {
        content: 'React |';
    }

    43% {
        content: 'React D|';

    }

    44% {
        content: 'React De';

    }

    45% {
        content: 'React Dev|';

    }

    46% {
        content: 'React Deve';

    }

    47% {
        content: 'React Devel|';

    }

    48% {
        content: 'React Develo|';

    }

    49% {
        content: 'React Develop|';

    }

    50% {
        content: 'React Develope|';

    }

    51% {
        content: 'React Developer|';

    }

    52% {
        content: 'N|';

    }

    53% {
        content: 'Ne|';

    }

    54% {
        content: 'Nex|';

    }

    55% {
        content: 'Next|';

    }

    56% {
        content: 'Next|';

    }

    57% {
        content: 'NextJ|';

    }

    58% {
        content: 'NextJs|';

    }

    59% {
        content: 'NextJs |';


    }

    60% {
        content: ' NextJs D|';


    }

    61% {
        content: ' NextJs De|';


    }

    62% {
        content: ' NextJs Dev|';


    }

    63% {
        content: ' NextJs Deve|';


    }

    64% {
        content: ' NextJs Devel|';


    }

    65% {
        content: ' NextJs Develo|';


    }

    66% {
        content: ' NextJs Develop|';


    }

    67% {
        content: ' NextJs Develope|';


    }

    68% {
        content: ' NextJs Developer|';


    }

    69% {
        content: ' NextJs Develope|';


    }

    70% {
        content: ' NextJs Develop|';


    }

    71% {
        content: ' NextJs Develo|';


    }

    72% {
        content: ' NextJs Devel|';


    }

    73% {
        content: ' NextJs Deve';


    }

    74% {
        content: ' NextJs Dev|';


    }

    75% {
        content: ' NextJs De|';


    }

    76% {
        content: ' NextJs D|';


    }

    77% {
        content: ' NextJs |';


    }

    78% {
        content: ' NextJs|';


    }

    79% {
        content: ' NextJ|';


    }

    80% {
        content: ' Next|';


    }

    81% {
        content: ' Nex|';


    }

    82% {
        content: ' N|';


    }

    83% {
        content: ' |';


    }

    84% {
        content: ' K|';


    }

    85% {
        content: ' Kh|';


    }

    86% {
        content: ' Kha|';


    }

    87% {
        content: ' Kham|';


    }

    88% {
        content: ' Khame|';


    }

    89% {
        content: ' Khames|';


    }

    90% {
        content: ' Khamess|';


    }

    91% {
        content: ' Khames|';


    }

    92% {
        content: ' Khame';


    }

    93% {
        content: ' Kham|';


    }

    94% {
        content: ' Kha';


    }

    95% {
        content: ' Kh|';


    }

    96% {
        content: ' K|';


    }

    97% {
        content: ' K|';


    }

    98% {
        content: ' |';


    }

    99% {
        content: ' |';


    }

    100% {
        content: ' |';


    }
}

/* header animation end*/
/* blog :start  */
#blog img {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
#blog img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
/* blog :end */
@media only screen and (max-width: 440px) {
    :root {
        font-size: 13px;
    }
    #client img {
        width: 40% !important;
    }
}
